.rating-inner {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.rating-cards-block {
  display: flex;
  gap: 4rem;
}

.rating-card {
  display: flex;
  align-items: center;
  border: 1px solid $stroke-Lbrow;
  padding: 2rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  h3 {
    font-size: 2rem;
    font-family: "Bitter";
    line-height: 150%;
    font-weight: 600;
  }
}
