.section-title {
  width: 100%;
  border-bottom: 2px solid $base-brown;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.section-title-inner {
  display: flex;
  gap: 2rem;
  align-items: center;
}

.section-title-title {
  font-family: 'Bitter';
  font-size: 4rem;
  line-height: 100%;
  font-weight: 600;
  color: $base-brown;
}

.section-title-link {
  font-size: 1.6rem;
  line-height: 100%;

  display: flex;
  gap: 0.5rem;
  align-items: center;
}

// Adaptive

@media screen and (max-width: 1440px) {
  .section-title-title {
    font-size: 2.4rem;
  }
  .section-title-img {
    img {
      height: 4rem;
    }
  }
}

@media screen and (max-width: 1000px) {
  .section-title-deco {
    right: -15rem;
  }
}

@media screen and (max-width: 700px) {
  .section-title-deco {
    right: -25rem;
  }
  .section-title-title {
    font-size: 1.8rem;
  }
  .section-title-img {
    width: 2.5rem;
    height: 2.5rem;

    img {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
}

@media screen and (max-width: 450px) {
  .section-title-deco {
    right: -30rem;
  }
}

@media screen and (max-width: 360px) {
  .section-title-deco {
    right: -33rem;
  }
}
