.video-section {
  background: #a6785e;
  padding: 4rem 0;
  display: flex;
}

.video-section-inner {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

.video-section-title {
  font-size: 4rem;
  line-height: 100%;
  font-weight: 600;
  color: $white;
}

.player {
  // height: 51.2rem;
}
